$gray: #bebebe;
$grayhover: rgb(190, 190, 190, 0.7);
$text: #d3c4c4;
$blue: rgba(43, 122, 217, 0.635);
$bluehover: rgba(43, 122, 217, 0.4);
$bgModal: rgba(43, 122, 217, 0.7);
$primary: rgb(12, 25, 42);
$grayMsg: #3a3a3a;
$blueMsg: #007bff;
