@mixin MarginBot {
  margin: 0 0 40px;
}

@mixin Button {
  padding: 15px 30px;
  border-radius: 40px;
  border: 1px solid #bebebe;
  background: rgba(100, 100, 100, 0.4);
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

@mixin Opacity7 {
  opacity: 0.7;
}

@mixin headerText {
  font-size: 13px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

@mixin overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 30px;
}
