@import './normalize.css';

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  object-fit: cover;
  background-size: contain;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

:hover,
:focus,
:active {
  outline: none;
}

body {
  background: -webkit-linear-gradient(212deg, #054c76, #0c192a, #471c3a);
  background: linear-gradient(212deg, #054c76, #0c192a, #471c3a);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: sans-serif, Arial, Helvetica;
  color: $text;
}

input {
  background-color: transparent;
}

textarea {
  background-color: transparent;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  position: fixed;
  width: 70vw;
  height: 80vh;
  padding: 40px 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $gray;
  border-radius: 20px;
  overflow: hidden;
  background: rgb(12, 25, 42);
}
